<% content_for :header_tags do %>
  <%= javascript_include_tag "fields_autofill.js", :plugin => 'redmine_emergya_adjustments' %>
<% end %>

<div class="splitcontent">
<div class="splitcontentleft">
<% i = 0 %>
<% split_on = (@issue.custom_field_values.size / 2.0).ceil - 1 %>
<% @issue.editable_custom_field_values.each do |value| %>
  <p><%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %></p>
<% if i == split_on -%>
</div><div class="splitcontentright">
<% end -%>
<% i += 1 -%>
<% end -%>
</div>
</div>



<% case @issue.tracker_id %>
<% when Setting.plugin_redmine_emergya_adjustments['risk_tracker'].to_i %>
  <script type="text/javascript">
    $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['risk_impact_custom_field']%>").addClass('launcher attr1');
    $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['risk_probability_custom_field']%>").addClass('launcher attr2');
    $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['risk_exposition_level_custom_field']%>").addClass('autofilled_field');

    url = "/projects/"+"<%=params[:project_id]%>"+"/issues/get_exposition_level";
  </script>
<% when Setting.plugin_redmine_emergya_adjustments['bill_tracker'].to_i %>
  <script type="text/javascript">
    $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['bill_invoice_custom_field']%>").addClass('launcher attr1');
    $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['bill_iva_custom_field']%>").addClass('launcher attr2');
    $("#issue_custom_field_values_"+"<%=Setting.plugin_redmine_emergya_adjustments['bill_amount_custom_field']%>").addClass('autofilled_field');

    url = "/projects/"+"<%=params[:project_id]%>"+"/issues/get_bill_amount";
  </script>
<% end %>
